
.ipynb_checkpoints/Trinnskatt - sinus-checkpoint.ipynb
.ipynb_checkpoints/Log-vs-lin-checkpoint.ipynb
Trinnskatt/.ipynb_checkpoints/trinnskatt-ferdig-checkpoint.ipynb
.ipynb_checkpoints/Kombinatorikk-checkpoint.ipynb
.ipynb_checkpoints/PlukkeKortPåGata-simulering-checkpoint.ipynb
.ipynb_checkpoints/SamansetteForsøk-checkpoint.ipynb
.ipynb_checkpoints/SannsynsmodellarOgStokastiskeVariablar-checkpoint.ipynb
.ipynb_checkpoints/SimuleringAvTerningkast-checkpoint.ipynb
